<template>
   <div >
   	<v-toolbar flat color="white--text" slot="activator" class="elevation-1 cyan darken-3">
      <v-toolbar-title style="font-size:13px !important">{{tituloPagina}}</v-toolbar-title>
      <v-divider
        class="mx-2"
        inset
        vertical
      ></v-divider>
      <v-spacer></v-spacer>
      <v-flex hidden-sm-and-up text-xs-center hover >
      		<v-icon
	            large
	            class=" cyan--text text--darken-4 elevation-1 cyan lighten-5"
	            @click="pesquisar = !pesquisar"
	         >
	         search
	          </v-icon>
      </v-flex>
      <v-flex hidden-xs-only>
    	<v-text-field
        v-model="search"
        append-icon="search"
        label="Pesquisar"
        single-line
        hide-details
        color="cyan lighten-5"
        :dark="true"

        class="ma-0 pa-1 pt-0 cyan darken-3"	
      ></v-text-field>
    </v-flex>
      <v-dialog v-model="cadastro" max-width="500px" v-if="!usoBusca">
        <v-btn slot="activator" color="cyan lighten-5 cyan--text text--darken-4" class="mb-2">CADASTRAR</v-btn>
        <v-card>
        	<v-card-title>
	            <span class="headline">{{ formTitle }}</span>
	        </v-card-title>
          	<form @submit.prevent="typeSubmit(formTitle)">
	          <v-card-text>
	            <form-cad-complemento 
	            	@edit-item-valor="itensEdicao = $event"
	            	@modal-produtos="isModalProd($event)"
								@modal-complemento="isModalComplemento($event)"
								@id-produto="idSelecionado = $event"
								@id-complemento="idComplementoSelecionado = $event"
	            	v-if="tituloPagina == 'COMPLEMENTOS'"
	            	:itemEdicao="editedItem"
	            	:editModal="cadastro"
								
	            	
	            >

	            </form-cad-complemento>
	            <form-cad-produto 
	            	@edit-item-valor="itensEdicao = $event"
	            	v-if="tituloPagina == 'PRODUTOS'"
	            	:itemEdicao="editedItem"
	            	:editModal="cadastro"
	            >
	            </form-cad-produto>
	          </v-card-text>

	          <v-card-actions>
	            <v-spacer></v-spacer>
	            <v-btn color="deep-orange darken-4" flat @click.native="close">Cancelar</v-btn>
	            <v-btn color="blue darken-1" type="submit" flat>Salvar</v-btn> <!-- @click.native="save"> -->
	          </v-card-actions>

          	</form>
          
        </v-card>
      </v-dialog>

    </v-toolbar>
    <v-flex hidden-sm-and-up v-if="pesquisar">
    	<v-text-field
        v-model="search"
        append-icon="search"
        label="Pesquisar"
        single-line
        hide-details
        color="cyan lighten-5"
        :dark="true"
        class="ma-0 pa-1 pt-3 cyan darken-3"	
      ></v-text-field>
    </v-flex>
    
	<v-progress-linear class="ma-0"  :active="progress" slot="progress" color="cyan" indeterminate></v-progress-linear>
    <v-data-table 
      :headers="headers"
      :items="desserts"
      :search="search"
      :pagination.sync="pagination"
      class="elevation-1"
      item-key="id"
      :rows-per-page-text="rowsPerPage"
      :rows-per-page-items="rowsPerPageText"
    >
    <template slot="headerCell" slot-scope="props">
    
      <v-tooltip bottom v-if="usoBusca">
        <span slot="activator" v-if="props.header.text == 'AÇÃO'">
          MARCADOR
        </span>
        <span slot="activator" v-else>
          {{ props.header.text }}
        </span>
      </v-tooltip>
      <v-tooltip bottom v-else>
        <span slot="activator" >
          {{ props.header.text }}
        </span>
      </v-tooltip>
    </template>
      <template slot="items" slot-scope="props" >
      	<tr @click="props.expanded = !props.expanded">
	  		<td >{{ props.item.nome }}</td>
	  		<!-- CAMPOS PARA OS DADOS DE PRODUTOS NA TABELA -->
	        <td v-if="tituloPagina == 'PRODUTOS'" class="text-xs-right">{{ props.item.preco }}</td>
	        <td v-if="tituloPagina == 'PRODUTOS'" class="text-xs-right">{{ props.item.tipoUnidade }}</td>
	        <td v-if="tituloPagina == 'PRODUTOS'" class="text-xs-right">{{ props.item.quantidade }}</td>
	        <!-- FIM CAMPOS -->

	        <!-- CAMPOS PARA OS DADOS DE COMPLEMENTOS NA TABELA -->
	        <td v-if="tituloPagina == 'COMPLEMENTOS'" class="text-xs-right">{{ props.item.TipoUnidade }}</td>
	        <td v-if="tituloPagina == 'COMPLEMENTOS'" class="text-xs-right">{{ props.item.quantidade }}</td>
	        <td v-if="tituloPagina == 'COMPLEMENTOS'" class="text-xs-right">{{ props.item.valor }}</td>
	        <!-- FIM CAMPOS -->

	        <td class="text-xs-right px-4" v-if="!usoBusca">
	          <v-icon
	            small 
	            class="mr-2"
	            @click="editItem(props.item);props.expanded = !props.expanded"
	          >
	            edit
	          </v-icon>
	          <v-icon
	            small
	            class="mr-2"
	            @click="confirmation=true;prepareExclude(props.item);props.expanded = !props.expanded"
	          >
	            delete
	          </v-icon>
	        </td>
         	<td v-else @click="props.expanded = !props.expanded">
	          	<!-- <v-checkbox
	          	style="float:right !important"
	            :input-value="props.selected"
	            primary
	            hide-details
	            color="teal darken-4"
	          ></v-checkbox> -->
	          <v-radio-group v-model="idSelecionado" style="float:right !important">
	           <v-radio
			        :key="props.item.id"
			        :value="props.item.id"
			        color="teal darken-4"
			      ></v-radio>
			    </v-radio-group>
	        </td>
      	</tr>
      </template>
      <template slot="expand" slot-scope="props">
	      <v-card flat color="cyan lighten-5">
	        <v-card-text>{{ props.item.detalhes }}</v-card-text>
	      </v-card>
	    </template>
      <template slot="no-data">
        <v-layout justify-center>Nenhum Item Cadastrado</v-layout>
      </template>
      	<template slot="pageText" slot-scope="props">
	       {{ props.pageStart }} - {{ props.pageStop }} de {{ props.itemsLength }}
	    </template>
    </v-data-table>
    <div class="text-xs-center pt-2">
      <v-pagination v-model="pagination.page" v-if="pages != null" :length="pages" color="cyan darken-4"></v-pagination>
    </div>


    <div class="text-xs-center">
	    <v-dialog
	      v-model="carregamento"
	      hide-overlay
	      persistent
	      width="300"
	    >
	      <v-card
	        color="primary"
	        dark
	      >
	        <v-card-text>
	          Espere um momento...
	          <v-progress-linear
	            indeterminate
	            color="white"
	            class="mb-0"
	          ></v-progress-linear>
	        </v-card-text>
	      </v-card>
	    </v-dialog>
	  </div>

	  <v-layout row justify-center>
	    <v-dialog v-model="confirmation" persistent max-width="290">
	      <v-card>
	        <v-card-title class="headline justify-center">Deseja Excluir?</v-card-title>
	        <v-card-text>Após confirmação, o sistema irá excluir o dado selecionado!</v-card-text>
	        <v-card-actions>
	          <v-spacer></v-spacer>
	          <v-btn color="red darken-1" flat @click.native="confirmation = false">Cancelar</v-btn>
	          <v-btn color="blue darken-1" flat @click.native="submitDelete()">Confirmar</v-btn>
	        </v-card-actions>
	      </v-card>
	    </v-dialog>
	  </v-layout>



	  
  </div>
</template>

<script>
import cadFormComplemento from '@/components/cadastros/complemento/cadFormComplemento.vue'
import cadFormProduto from '@/components/cadastros/produto/cadFormProduto.vue'

import axios from 'axios';

export default {
  name: 'tabelaGen',
  props:{
  	tituloPagina:null,
  	urlApiListar:null,
  	urlApiDeletar:null,
  	urlApiAlterar:null,
  	urlApiCadastrar:null,
  	headers:null,
  	editedItem: {},
  	defaultItem: {},
		usoBusca:false,
		getIdSelecionado:0
  },
  	components:{
		'form-cad-complemento':cadFormComplemento,
		'form-cad-produto':cadFormProduto,
	},
  data: () => ({
			idComplementoSelecionado:0,
			idSelecionado:0,
			modalProd:false,
			modalCompl:false,
  		pesquisar:false,
  		listKey:9999999,
  		confirmation:false,
  		progress:true,
  		rowsPerPage:'Linhas por Página',
  		rowsPerPageText:[ 5, 10, 25, { text: 'Todos', value: -1 } ],
  		carregamento:false,
        search: '',
        pagination: {
        	totalItems: null,
        },
        selected: [],
        cadastro:false,
	      editedIndex: -1,
        desserts: [],
        ApiResponse:false,
				itensEdicao: {},
    }),
  	created () {
      this.initialize()
    },
  	computed: {
      pages () {
        if (this.pagination.rowsPerPage == null ||
          this.pagination.totalItems == null
        ) return 0
        console.log("Tah passando")
        return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
      },
      	formTitle () {
    		return this.editedIndex === -1 ? 'Novo Item' : 'Editar Item'
  		}

    },
    watch: {
  		carregamento (val) {
	    	val || this.close()
	  	},
	  	carregamento (val) {
		    if (!val) return
		    setTimeout(() => (this.carregamento = false), 4000)
		  },
			itensEdicao(){
				this.$emit('item-edicao',this.itensEdicao)
			},
			idSelecionado(){
				this.$emit('item-selecionado',this.idSelecionado)
			},
			getIdSelecionado(){
				this.idSelecionado = Number(this.getIdSelecionado);
			}
	},
    methods: {
    	isModalProd(evento){
    		this.modalProd = evento;
    		this.$emit('modal-produtos',this.modalProd)
			},
			isModalComplemento(evento){
				this.modalCompl = evento;
				
				this.$emit('modal-complementos',this.modalCompl)
				this.$emit('id-complemento',Number(this.idComplementoSelecionado))
			},
    	editItem (item) {
				this.editedIndex = this.desserts.indexOf(item)
				
				if (this.tituloPagina == 'COMPLEMENTOS') {
					
					item.idProd = this.desserts[this.editedIndex].id_produto.id+""
					
					item.tipoComplemento = this.desserts[this.editedIndex].id_tipoComplemento.id+""
					console.log("PASSOU AQUI !!!")
					console.log(item.tipoComplemento)
				}
				// // console.log("PASSANDO PELo iD SELECIONADO")
				// this.idSelecionado = this.desserts[this.editedIndex].id_produto.id
				// this.$emit('item-selecionado',this.idSelecionado)
				this.$emit('item-edicao',item)
				
        this.cadastro = true
      },
      prepareExclude(item){
      	this.$emit('item-edicao',item)
      },

      deleteItem (item) {
        const index = this.desserts.indexOf(item)
        this.desserts.splice(index, 1)
        this.confirmation = false
      },

      close () {
        this.cadastro = false
        setTimeout(() => {
          this.$emit('item-edicao',this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)	
        } 
        this.close()
      },

      submitRegister: function(ApiResponse){
      	this.carregamento=true
      	this.progress=true
      	axios.post(this.urlApiCadastrar, this.editedItem)
	      .then((response) => {
	      	ApiResponse = response.data
	        if(ApiResponse){
	        	this.initialize()
	        	this.close()
	        } else {
	        	// Apresentar mensagem que ocorreu erro ao validar os campos na API = MODAL
	        }
	        this.carregamento=false
	        this.progress=false
	      });
      },

      submitUpdate: function(){
      	this.carregamento=true
      	this.progress=true
      	axios.put(this.urlApiAlterar, this.editedItem)
	      .then((response) => {
	      	this.ApiResponse = response.data
	        if(this.ApiResponse){
	        	this.initialize()
	        	this.close()
	        } else {
	        	// Apresentar mensagem que ocorreu erro ao validar os campos na API = MODAL
	        }
	        this.carregamento=false
	        this.progress=false
	      });
      },

      submitDelete: function(){
      	this.carregamento=true
      	this.progress=true
      	axios.put(this.urlApiDeletar, this.editedItem)
	      .then((response) => {
	      	this.ApiResponse = response.data
	        if(this.ApiResponse){
	        	this.deleteItem(this.editedItem)
	        	this.$emit('item-edicao',this.defaultItem)
          		this.editedIndex = -1
          		this.carregamento=false
	        	this.progress=false
          		return true
	        } else {

	        	this.carregamento=false
	        	this.progress=false
	        	return false
	        	// Apresentar mensagem que ocorreu erro ao validar os campos na API = MODAL
	        }
	      });
      },

      typeSubmit: function(formTitle){
      		if(this.editedIndex === -1){
      			this.submitRegister(formTitle);
      		} else {
      			this.submitUpdate();
      		}
      },

      initialize(){
        var pagination = 0
      	var dados=[]
      	axios.get(this.urlApiListar).then(
	      	function(response) {
	      		dados = response.data
	      		pagination = response.data.length
	      		console.log(response.data);
	      	}
	    ).catch(
	      	function(error) {
	      		pagination = null
	      		console.log("DEU ERRO")
	            console.log(error)
	          }
	    ).finally(
	    	fim => {
	          	this.desserts = dados
	        	this.pagination.totalItems = pagination
	        	this.progress=false
	        }
	    );
      },
    }
};
</script>
