<template>
        <div id="app">
            <v-app id="inspire">
                <v-content>
                <v-container fluid fill-height>
                    <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card class="elevation-12" >
                        <v-toolbar dark color="red darken-4">
                            <v-toolbar-title >ACESSO</v-toolbar-title>
                            <v-spacer></v-spacer>
                        </v-toolbar>
                        <v-card-text>
                            <v-form>
                            <v-text-field color="green darken-4" prepend-icon="person" name="login" label="E-mail" type="text"></v-text-field>
                            <v-text-field color="green darken-4" prepend-icon="lock" name="password" label="Senha" id="password" type="password"></v-text-field>
                            </v-form>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="red darken-4" dark>ENTRAR</v-btn>
                        </v-card-actions>
                        </v-card>
                    </v-flex>
                    </v-layout>
                </v-container>
                </v-content>
            </v-app>
            </div>
</template>

<script>
export default {
  data: () => ({
    drawer: null
  }),

  props: {
    source: String
  }
}
</script>
