<template>
  <v-layout v-resize="linhaProduto">
          <v-flex text-xs-center >
                <v-layout slot="activator" row wrap>
                	<v-flex xs12  class="mt-2">
						<a  @click="preCadastroMovimento()">
						<v-card class="hoverAdd" to="#" slot="activator" flat color="blue-grey lighten-5">
								<div >
									<v-icon color="grey" style="text-shadow:1px 1px 2px grey !important" slot="activator" class="" size="35">add</v-icon>
								</div>
							</v-card>
						</a>
                	</v-flex>
					<v-flex xs12 class="mt-2">
						<v-layout row wrap >

							<v-container fluid grid-list-md >
									<v-data-iterator 
										:items="pedidoServidor"
										:rows-per-page-items="[1]"
										:pagination.sync="paginationPedidos"
										content-tag="v-layout"
										hide-actions
										row
										wrap
									>
									<!-- v-for="card in cards" :key="card.title" -->
										<v-flex
											
											slot="item"
											slot-scope="props"
											xs6 sm3 md2
										>
											
												<v-card xs2 >
													<!-- <v-img
														:src="props.item.src"
														height="60px"
													>
													</v-img> -->
													<a @click="editarDados(props.item)">
													<v-flex flat class="lime darken-4">
														<v-layout max-height="80" style="min-height:80px !important">
														<v-flex text-xs-center >
															<span class="headline grey--text text--lighten-3" style="font-size:14px !important" v-text="props.item.descricao"></span>
														</v-flex>
													</v-layout>
													<v-layout >
														<v-flex text-xs-center >
															<span class="headline grey--text text--lighten-3" style="font-size:14px !important" v-text="props.item.data"></span>
														</v-flex>
													</v-layout>
													</v-flex>
													</a>
													<v-card-actions class="justify-center grey lighten-3">
														<!-- <v-btn right class="orange darken-4" depressed  dark small>
															<v-icon
																small
																color=""
															>
																add
															</v-icon> 1
														</v-btn> -->
														<div class="text-xs-center ">
															<v-rating right
																:size="ratingSize"
																length="5"
																v-model="rating"
																color="yellow darken-3"
																background-color="grey darken-1"
																empty-icon="$vuetify.icons.ratingFull"
																half-increments
																hover
															></v-rating>
														</div>
													</v-card-actions>
												</v-card>
										</v-flex>
									</v-data-iterator>
								</v-container>
						</v-layout>	
                	</v-flex>
                </v-layout>
          </v-flex>
			<v-dialog v-model="register.movimentoModal" scrollable max-width="400px">
				<v-card>
					<v-divider></v-divider>
					<v-card-text style="height: 130px;">
						<v-text-field
							v-model="register.movimento.descricao"
							label="Descrição"
							type="text"
						></v-text-field>
						<span class="caption grey--text text--darken-1">
							Informe a descrição para identificar sua compra futuramente.
						</span>
					</v-card-text>
					<v-divider></v-divider>
					<v-card-actions>
					<v-btn color="red darken-4" flat @click="fecharCadastro()">CANCELAR</v-btn>
					<v-spacer></v-spacer>
					<v-btn color="blue darken-4" flat @click="adicionarMovimento()">CONTINUAR</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>

			<v-dialog v-model="editModal" scrollable max-width="1000px">
				<v-card>
					<v-card-title>{{editdados.descricao}}</v-card-title>
					<v-divider></v-divider>
					<v-card-text style="height: 600px;">
					
					</v-card-text>
					<v-divider></v-divider>
					<v-card-actions>
					<v-btn color="red darken-4" flat @click="editModal = false">FECHAR</v-btn>
					<v-btn color="blue darken-4" flat @click="editModal = false">SALVAR</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>

			<v-dialog v-model="register.cadastroModel" fullscreen hide-overlay transition="dialog-bottom-transition">
																			
								<v-card>
									<v-toolbar dark color="deep-orange darken-4" height="50">
										<v-btn icon dark @click.native="fecharCadastro()">
											<v-icon>close</v-icon>
										</v-btn>
										<v-toolbar-title><b class="orange--text text--lighten-3">MOVIMENTO:</b> {{register.movimento.descricao}}</v-toolbar-title>
										<v-spacer></v-spacer>
										<v-toolbar-items>
											<!-- <v-btn dark flat @click.native="register.cadastroModel = false">Salvar</v-btn> -->
										</v-toolbar-items>
									</v-toolbar>
									<v-card
											class="mx-auto mt-5"
											max-width="900"
											
										>
											<v-card-title class="title font-weight-regular justify-space-between">
												<span>{{ currentTitle }}</span>
												<!-- <v-avatar
													color="teal darken-3"
													class="subheading white--text"
													size="40"
													v-text="register.cadastroAbas"
												></v-avatar> -->
												<v-badge left>
													<span slot="badge">0</span>
													<v-icon
														large
														color="grey lighten-1"
													>
														shopping_cart
													</v-icon>
												</v-badge>
												<p class="cyan--text text--darken-4">TOTAL: R$ {{register.movimento.precoVenda}}</p>
											</v-card-title>

											<v-window v-model="register.cadastroAbas">
												<v-window-item :value="1">
													<v-card-text>
														
														<v-layout row wrap >

															<v-container fluid grid-list-md>
																	<v-data-iterator
																		:items="register.produtos"
																		:rows-per-page-items="[1]"
																		:pagination.sync="pagination"
																		content-tag="v-layout"
																		row
																		wrap
																	>
																	<!-- v-for="card in cards" :key="card.title" -->
																		<v-flex
																			
																			slot="item"
																	slot-scope="props"
																			xs6 sm3 md2
																		>
																			
																				<v-card xs2>
																					<v-img
																						src="https://coisasdediva.files.wordpress.com/2016/03/bolo-aniversario-12.jpg"
																						height="60px"
																					>
																					</v-img>

																					<v-layout class="px-1"  max-height="100" style="min-height:100px !important">
																						<v-flex text-xs-center >
																							<span class="headline green--text text--darken-4" style="font-size:14px !important" v-text="props.item.nome"></span>
																							
																						</v-flex>
																					</v-layout>
																					<v-card-actions class="justify-center grey lighten-3">
																						<v-btn @click="addProdutoVenda(props.item)" class="orange darken-4" depressed dark small style="width:100% !important">
																							<v-icon
																								small
																								color=""
																							>
																								add
																							</v-icon> 1
																						</v-btn>
																						
																					</v-card-actions>
																				</v-card>
																		</v-flex>
																	</v-data-iterator>
																</v-container>
															
																
														</v-layout>


														<span class="caption grey--text text--darken-1">
															Escolha os produtos que você deseja e adicione os complementos que desejar
														</span>
													</v-card-text>
												</v-window-item>

												<v-window-item :value="2">
													<v-card-text>
														<v-layout row wrap >
															<v-container fluid grid-list-md>
																<v-data-iterator
																	:items="register.complementosProd"
																	:rows-per-page-items="[1]"
																	:pagination.sync="pagination"
																	content-tag="v-layout"
																	row
																	wrap
																	
																>
																	<v-flex
																		slot="item"
																slot-scope="props"
																		xs6 sm3 md2
																		
																	>
																		<v-card v-for="tipo of tipoComplemento" :key="tipo.id" v-show="props.item.id_tipoComplemento.tipo === tipo.tipo" xs2 >
																			
																			<v-layout class="px-1"  max-height="120" style="min-height:110px !important">
																				
																				<v-flex text-xs-center class="white lighten-5">
																					<span class="headline orange--text text--darken-4" style="font-size:14px !important" v-text="props.item.id_tipoComplemento.tipo"></span><br/>
																					<span class="headline green--text text--darken-4" style="font-size:14px !important" v-text="props.item.nome"></span>
																					
																				</v-flex>
																			</v-layout>
																			<v-card-actions class="grey lighten-2" >
																				<v-checkbox color="orange darken-4" style="margin-bottom:-30px !important; margin-top:-8px !important"  
																					v-model="register.produtoVenda.complementosVenda"
																					:value="props.item"
																					
																					></v-checkbox>
																						<!-- <v-radio color="orange darken-4" 
																						:key="props.item.id"
																						:value="props.item"
																						></v-radio> -->
																					
																			</v-card-actions>
																				
																		</v-card>
																	</v-flex>
																</v-data-iterator>
															</v-container>
														</v-layout>
														<span class="caption grey--text text--darken-1">
															Escolha os complementos que desejar adicionar
														</span>
													</v-card-text>
												</v-window-item>
											</v-window>

											<v-divider></v-divider>

											<v-card-actions>
												<v-btn
													v-show="register.cadastroAbas !== 1"
													:disabled="register.cadastroAbas === 1"
													dark
													depressed
													@click="register.cadastroAbas--"
													color="red darken-4"
												>
													Cancelar
												</v-btn>
												<v-spacer></v-spacer>
												<v-btn
													:disabled="register.cadastroAbas === 2"
													v-show="register.cadastroAbas !== 2"
													color="blue darken-3"
													dark
													depressed
													@click="finalizarCadProduto()"
												>
													Finalizar
												</v-btn>
												
												<v-btn
													:disabled="register.cadastroAbas === 1"
													v-show="register.cadastroAbas !== 1"
													color="blue darken-3"
													dark
													depressed
													@click="confirmarCarrinho()"
												>
													Confirmar
												</v-btn>
											</v-card-actions>
										</v-card>
								</v-card>
						</v-dialog>     
    </v-layout>
		
</template>

<script>

import Pedido from '@/components/models/pedido.js'
import Produto from '@/components/models/produto.js'
import TipoComplemento from '@/components/models/tipoComplemento.js'

export default {
  	name: 'meusPedidos',
  	data: () => ({
		register:{
			movimento:{
				descricao:'',
				precoCusto:0,
				precoVenda:0,
				data: '01/05/2018',
				status:'A',
				tipoMovimento:'P',
				id_pessoa:{
					id:1,
					cpf:'13702127631',
					data_nascimento:'01/05/1998',
					email:'euzimarsoares@gmail.com',
					nome:'Euzimar',
					sexo:'MASCULINO',
					sobrenome:'Ferreira Soares'
				},
				produtosVenda:[]
			},
			produtoVenda:{
				id_produto:{},
				complementosVenda:[]
			},
			produtos:[],
			complementosProd:[],
			produtosCadastrado:[],
			cadComplemento:false,
			cadastroModel:false,
			cadastroAbas: 1,
			movimentoModal:false
		},
		produtoVendaLimpo:{
			id_produto:{},
			complementosVenda:[]
		},
		registerLimpo:{
			movimento:{
				descricao:'',
				precoCusto:0,
				precoVenda:0,
				data: '',
				status:'',
				tipoMovimento:'',
				id_pessoa:{
					id:1,
					cpf:'',
					data_nascimento:'',
					email:'',
					nome:'',
					sexo:'',
					sobrenome:''
				},
				produtosVenda:[]
			},
			produtoVenda:{
				id_produto:{},
				complementosVenda:[]
			},
			produtos:[],
			complementosProd:[],
			produtosCadastrado:[],
			cadComplemento:false,
			cadastroModel:false,
			cadastroAbas: 1,
			movimentoModal:false
		},
		editModal:false,
		horizontalTela:0,
		pagination: {
		descending: false,
			rowsPerPage: 6, // -1 for All,
		},
		paginationPedidos:{
		descending: true,
			rowsPerPage: -1, // -1 for All,
		},
		rating:2,
		ratingSize:8,
		widgets:true,
		notifications:true,
		sound:true,
		edit:false,
		pedidoServidor:[],
		editdados:{},
		tipoComplemento:[],
		complemento:{
			id_complemento:{}
		}
	}),
	mounted () {
      this.linhaProduto()
	},
	created () {
      this.initialize()
    },
    computed: {
      currentTitle () {
        switch (this.cadastroAbas) {
          case 1: return 'Produto'
          case 2: return 'Complemento'
          default: return 'Fechamento Pedido'
        }
			},
			
		},
		watch:{
		},
		methods:{
			confirmarCarrinho(){
				for (let index = 0; index < this.register.produtoVenda.complementosVenda.length; index++) {
					const element = this.register.produtoVenda.complementosVenda[index];
					this.complemento.id_complemento = element;
					this.register.movimento.precoVenda = this.register.movimento.precoVenda + element.valor
					this.register.produtoVenda.complementosVenda[index] = this.complemento
				}
				this.register.movimento.produtosVenda.push(this.register.produtoVenda)
				this.register.produtosVenda = Object.assign({},this.produtoVendaLimpo)
				this.register.cadastroAbas--
			},
			finalizarCadProduto(){
				console.log(this.register.movimento)
				Pedido.add(this.register.movimento).then(resposta => {
					console.log(resposta)
					if (resposta.data) {
						console.log("REGISTRADO COM SUCESSO")
					}
				})
				this.register.cadastroAbas--
			},
			fecharCadastro(){
				this.register.cadastroModel = false
				this.register = Object.assign({}, this.registerLimpo);
				this.register.movimento = Object.assign({}, this.registerLimpo.movimento);
			},
			preCadastroMovimento(){
				
				this.register.movimentoModal = true	
			},
			adicionarMovimento(){
				
				this.register.movimentoModal = false
				Produto.listar().then(response => {
					this.register.produtos = response.data
					console.log(response.data)
				})
				TipoComplemento.listar().then(resposta => {
					this.tipoComplemento = resposta.data
				})
				this.register.cadastroModel = true
			},
			addProdutoVenda(dados){
				console.log("Dados vindo do produto selecionado")
				console.log(dados)
				this.register.produtoVenda.id_produto = Object.assign({},dados)
				this.register.movimento.precoVenda = this.register.movimento.precoVenda + dados.preco
				Produto.listarComplemento(dados.id).then(resposta => {
					this.register.complementosProd = resposta.data
					console.log("Resposta para a busca de complementos")
					console.log(this.register.complementosProd)
				}).catch(erro => {
					//nenhum complemento encotrado para o produto informado
				})
				console.log("PRODUTO ESCOLHIDO PARA VENDA")
				console.log(this.produtoVenda)
				this.register.cadastroAbas++
			},
			initialize(){
				Pedido.listar().then(resposta =>{
					console.log(resposta.data)
					this.pedidoServidor = resposta.data
					console.log("Resultado da busca de Pedidos Itens")
            		console.log(this.pedidoServidor)
				})
			},
			editarDados(dados){
				this.editdados = dados
				console.log(this.editdados)
				this.editModal=true
			},
			linhaProduto(){
				console.log("passando pelo linha produto")
				console.log(window.innerWidth)
				if (window.innerWidth < 600) {
					this.pagination.rowsPerPage = 2
					this.ratingSize = 9;
				} else if (window.innerWidth < 960) {
					this.pagination.rowsPerPage = 4
					this.ratingSize = 7;
				}else if (window.innerWidth < 1370) {
						this.pagination.rowsPerPage = 6
					this.ratingSize = 9;
				}
			},
		}
};
</script>

<style>
	.hoverAdd div{
		box-shadow: 1px 1px 9px grey inset !important;
		transition: 0.2s !important
	}
	.hoverAdd div:hover{
		background-color: lightsteelblue;
		box-shadow: 1px 1px 9px grey inset !important;
		transition: 0.2s
	}
</style>
