<template>
   <div id="app">
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
      fixed
      width="220"
    >
      <v-list dense>
          
          <v-list-tile to="/pedidos" @click="">
          <v-list-tile-action>
            <v-icon>local_grocery_store</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>MEUS PEDIDOS</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile to="/perfil" @click="">
          <v-list-tile-action>
            <v-icon>person</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>PERFIL</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile to="/produtos" @click="">
          <v-list-tile-action>
            <v-icon>restaurant</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>PRODUTOS</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile to="/complementos" @click="">
          <v-list-tile-action>
            <v-icon>local_dining</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>COMPLEMENTOS</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="deep-orange darken-4" dark fixed app clipped-left height="50">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>MyBolos Eusélia</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid  >
        <router-view></router-view>
      </v-container>
    </v-content>
    <v-footer color="grey lighten-3" absolute app inset>
      <span class="grey-orange--text text--darken-4 ml-4" style="font-size:12px" >&copy; MyBolos Eusélia 2018 - euseliaviana2010@gmail.com - (38) 99918-0514</span>
    </v-footer>
  </v-app>
</div>
</template>

<script>
export default {
  name: 'App',
  data: () => ({
    drawer: null,
    clipped: true,
    app:true,
    absolute:true
  })
};
</script>
