<template>
	<v-layout wrap>
	    <v-flex xs12 sm6 md4>
	      <v-text-field v-model="editedItem.nome" label="Nome"></v-text-field>
	    </v-flex>
	    <v-flex xs12 sm6 md4>
	      <v-text-field v-model="editedItem.preco" label="Preco"></v-text-field>
	    </v-flex>
	    <v-flex xs12 sm6 md4>
	      <v-text-field v-model="editedItem.tipoUnidade" label="Tipo de Unidade"></v-text-field>
	    </v-flex>
	    <v-flex xs12 sm6 md4>
	      <v-text-field v-model="editedItem.quantidade" label="Quantidade"></v-text-field>
	    </v-flex>
	    <v-flex xs12 sm12 md12>
	    	<v-textarea
	    	  v-model="editedItem.detalhes"
	          label="Detalhes"	
	          hint="Detalhes do produto"
	        ></v-textarea>
	      <!-- <v-text-field v-model="editedItem.detalhes" label="Detalhes"></v-text-field> -->
	    </v-flex>
	  </v-layout>
</template>
<script>
	export default{
		props:{
			editModal:false,
	  		itemEdicao: {
		      	id:0,
		        nome:'',
		        preco:'',
		        detalhes:'',
		        tipoUnidade:'',
		        quantidade:''
		    }
	     },
	     data: () => ({
	  		editedItem: {
		      	id:0,
		        nome:'',
		        preco:'',
		        detalhes:'',
		        tipoUnidade:'',
		        quantidade:''
		    },
	  	}),
	    watch:{
	  		editModal: function (newModal,oldModal){
	  			if (newModal){
	  				console.log("PASSOU PELO IF")
	  				this.editedItem = Object.assign({}, this.itemEdicao)
	  				this.$emit('edit-item-valor',this.editedItem)
	  			}
	  		},
	  		editedItem: function (newModal,oldModal){
	  				console.log("PASSOU PELO EDITEDITEM")
	  				this.$emit('edit-item-valor',this.editedItem)
	  		}
	  	},
	};
</script>