<template>
   <div>
   		<tabela-generica 
        @item-selecionado="itemSelecionado = $event"
        @item-edicao="editedItem = $event"
   			:tituloPagina="tituloPagina"
   			:urlApiListar="urlApiListar"
   			:urlApiDeletar="urlApiDeletar"
   			:urlApiAlterar="urlApiAlterar"
   			:urlApiCadastrar="urlApiCadastrar"
   			:headers="headers"
   			:editedItem="editedItem"
   			:defaultItem="defaultItem"
        :usoBusca="usoBusca"
				:getIdSelecionado="itemSelecionado"
   		>
   			
   		</tabela-generica>
			 
   </div>
</template>

<script>
export default {
	name: 'cadComplemento',
	props:{
		usoBusca:false,
		itemSelecionado:0,
  },
	data: () => ({
    
		tituloPagina:'PRODUTOS',
  		urlApiListar:'http://localhost:8000/api/produto/listar',
  		urlApiDeletar:'http://localhost:8000/api/produto/delete',
  		urlApiAlterar:'http://localhost:8000/api/produto/update',
  		urlApiCadastrar:'http://localhost:8000/api/produto/add',
  		headers: [
          {
            text: 'PRODUTO',
            align: 'left',
            sortable: true,
            value: 'nome'
          },
          { text: 'PREÇO', value: 'preco', align:'right'},
          { text: 'TIPO DE UNIDADE', value: 'tipoUnidade', align:'right'},
          { text: 'QUANTIDADE', value: 'quantidade', align:'right' },
          { text: 'AÇÃO', align:'right', sortable:false }
        ],
        editedItem: {
		      	id:0,
	        nome:'',
	        preco:'',
	        detalhes:'',
	        tipoUnidade:'',
					quantidade:'',
	    },
	    defaultItem: {
	      	id:0,
	        nome:'',
	        preco:'',
	        detalhes:'',
	        tipoUnidade:'',
	        quantidade:''
	      },
    }),
    watch:{
      itemSelecionado(){
        this.$emit('item-selecionado',this.itemSelecionado)
      }
    }
    
};
</script>
