<template>
   <div>
   		<tabela-generica 
   			@item-edicao="editedItem = $event"
        @modal-produtos="modalProd = $event"
        @modal-complementos="modalComplemento = $event"
        @item-selecionado="itemSelecionado = $event"
        @id-complemento="itemComplementoSelecionado = $event"
   			:tituloPagina="tituloPagina"
   			:urlApiListar="urlApiListar"
   			:urlApiDeletar="urlApiDeletar"
   			:urlApiAlterar="urlApiAlterar"
   			:urlApiCadastrar="urlApiCadastrar"
   			:headers="headers"
   			:editedItem="editedItem"
   			:defaultItem="defaultItem"
   		>
   		</tabela-generica>
      <v-dialog v-model="modalProd" fullscreen hide-overlay transition="dialog-bottom-transition">
                        
        <v-card>
          <v-toolbar dark color="deep-orange darken-4" height="50">
            <v-btn icon dark @click.native="modalProd = false">
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Novo Pedido</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn dark flat @click="selecionar()">Selecionar</v-btn>
            </v-toolbar-items>
              
          </v-toolbar>

          <cad-produto 
              class="mt-2"
              :usoBusca="usoBusca"
              @item-selecionado="itemSelecionado = $event"
              :itemSelecionado="itemSelecionado"
          >
            
          </cad-produto>
        </v-card>
      </v-dialog>  

      <v-layout row justify-center>
    <v-dialog v-model="modalComplemento" scrollable max-width="300px">
      <v-card>
        <v-card-title>Select Country</v-card-title>
        <v-divider></v-divider>
        <v-card-text style="height: 300px;">
          <v-radio-group v-model="itemComplementoSelecionado" class="mt-0 ml-3" column v-for="tipoCompl of tipoComplementoItem" :key="tipoCompl.id">
            <b><v-radio :label="tipoCompl.tipo" color="teal darken-4" :value="tipoCompl.id" :key="tipoCompl.id"></v-radio></b>
          </v-radio-group>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn color="red darken-4" flat @click="modalComplemento = false">Cancelar</v-btn>
          <v-btn color="blue darken-1" flat @click="selecionarComplemento()">Selecionar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>

   </div>
</template>

<script>
import cadProduto from '@/components/cadastros/produto/cadProduto.vue'
import tipoComplemento from '@/components/models/tipoComplemento.js'

export default {
	name: 'cadComplemento',
	components:{
    'cad-produto':cadProduto,
  },
	data: () => ({
    usoBusca:true,
    itemSelecionado:0,
    modalProd:false,
    tipoComplementoItem:[],
    itemComplementoSelecionado:0,
    modalComplemento:false,
		tituloPagina:'COMPLEMENTOS',
  		urlApiListar:'http://localhost:8000/api/complemento/listar',
  		urlApiDeletar:'http://localhost:8000/api/complemento/delete',
  		urlApiAlterar:'http://localhost:8000/api/complemento/update',
  		urlApiCadastrar:'http://localhost:8000/api/complemento/add',
  		headers: [
          {
            text: 'COMPLEMENTO',
            align: 'left',
            sortable: true,
            value: 'nome'
          },
          { text: 'TIPO DE UNIDADE', value: 'tipoUnidade', align:'right'},
          { text: 'QUANTIDADE', value: 'quantidade', align:'right' },
          { text: 'VALOR', value: 'valor', align:'right' },
          { text: 'AÇÃO', align:'right', sortable:false }
        ],
        editedItem: {
		    id:0,
		    TipoUnidade:'',
		    detalhes:'',
		    nome:'',
		    quantidade:'',
		    valor:'',
		    idProd:'',
		    tipoComplemento:''
	    },
	    defaultItem: {
	      	id:0,
		    TipoUnidade:'',
		    detalhes:'',
		    nome:'',
		    quantidade:'',
		    valor:'',
        idProd:'',
        tipoComplemento:''
	      },
    }),
    watch:{
    	modalComplemento(){
        if (this.modalComplemento) {
          tipoComplemento.listar().then(resposta => {
            console.log(resposta.data)
            this.tipoComplementoItem = resposta.data
            console.log("Resultado da busca de complementos item")
            console.log(this.tipoComplementoItem)
          })
        }
      }
    },
    methods:{
      selecionar(){
        this.editedItem.idProd = this.itemSelecionado+"";
        this.modalProd = false;
        this.itemSelecionado='';
      },
      selecionarComplemento(){
        this.editedItem.tipoComplemento = this.itemComplementoSelecionado+"";
        this.modalComplemento = false;
        this.itemComplementoSelecionado='';
      }
    }
    
};
</script>
