<template>
	<v-layout wrap>
	    <v-flex xs12 sm12 md12 mx-1>
	      <v-text-field v-model="editedItem.nome"  label="Nome"></v-text-field>
	    </v-flex>
	    <v-flex xs12 sm6 md3 mx-1>
	      <v-text-field v-model="editedItem.TipoUnidade" label="Tipo Unidade"></v-text-field>
	    </v-flex>
	    <v-flex xs12 sm6 md4 mx-1>
	      <v-text-field v-model="editedItem.quantidade" label="Quantidade"></v-text-field>
	    </v-flex>
	    <v-flex xs12 sm6 md4 mx-1> 
	      <v-text-field v-model="editedItem.valor" label="Preço"></v-text-field>
	    </v-flex>
	    <v-flex xs11 sm7 md7 mx-1>
	      <v-text-field v-model="editedItem.idProd" label="Produto Vinculado"></v-text-field>
	    </v-flex>
			
	    <v-flex>
	    	<v-btn
		        slot="activator"
		        color="grey darken-3 ml-0" style="margin-left:-95px !important;margin-bottom:-35px !important"
		        dark
		        depressed
		        small
		        @click.native="ProdutoClick"
		      >
        		<v-icon>search</v-icon>
      		</v-btn>
	    </v-flex>
			<v-flex xs11 sm7 md7 mx-1>
	      <v-text-field v-model="editedItem.tipoComplemento" label="Tipo Complemento"></v-text-field>
	    </v-flex>
			<v-flex>
	    	<v-btn
		        slot="activator"
		        color="grey darken-3 ml-0" style="margin-left:-95px !important;margin-bottom:-35px !important"
		        dark
		        depressed
		        small
		        @click.native="ComplementoClick"
		      >
        		<v-icon>search</v-icon>
      		</v-btn>
	    </v-flex>


	    <v-flex xs12 sm12 md12>
	    	<v-textarea
	    	  v-model="editedItem.detalhes"
	          label="Detalhes"	
	          hint="Detalhes do produto"
	        ></v-textarea>
	      <!-- <v-text-field v-model="editedItem.detalhes" label="Detalhes"></v-text-field> -->
	    </v-flex>
			
	</v-layout>
</template>
<script>
	import bus from 'vue-bus'
	
	export default{
		props:{
		    editModal:false,
		    itemEdicao: {
		      id:0,
			    TipoUnidade:'',
			    detalhes:'',
			    nome:'',
			    quantidade:'',
			    valor:'',
					idProd:'',
					tipoComplemento:''
		    }
	  	},
	  	data: () => ({
	  		editedItem: {
		      id:0,
			    TipoUnidade:'',
			    detalhes:'',
			    nome:'',
			    quantidade:'',
			    valor:'',
					idProd:'',
					tipoComplemento:''
		    },
				modalProd:false,
				modalCompl:false
	  	}),
	  	computed:{
	  	},
	  	mounted(){
	  		
	  	},
	  	watch:{
	  		editModal: function (newModal,oldModal){
	  			if (newModal){
	  				console.log("PASSOU PELO IF")
	  				//  this.itemEdicao.idProd = 0
	  				this.editedItem = Object.assign({}, this.itemEdicao)
	  				this.$emit('edit-item-valor',this.editedItem)
	  			}
	  		},
	  		editedItem: function (newModal,oldModal){
	  				console.log("PASSOU PELO EDITEDITEM")
	  				this.$emit('edit-item-valor',this.editedItem)
				},
	  	},
	  	methods:{
	  		ProdutoClick(){
					this.modalProd = true
					this.$emit('id-produto',this.editedItem.idProd)
	  			this.$emit('modal-produtos',this.modalProd)
	  			console.log("PRODUTO ITEM CLICADO NO CAMPO");
				},
				ComplementoClick(){
						this.modalCompl = true
						this.$emit('id-complemento',this.editedItem.tipoComplemento)
						this.$emit('modal-complemento',this.modalCompl)
						console.log("COMPLEMENTO ITEM CLICADO NO CAMPO");
				}
	  	}
	  	
	};
</script>